body {
    font-family: "EB Garamond", "Poiret One", helvetica, arial, sans-serif;
    margin: 2em;
}

.token-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

[draggable] {
    user-select: none;
}